.margin{

margin: 20px 13px;
}
.table-header{
  font-size: small;
  color: gray;
  // font-weight: lighter;
  text-transform: uppercase;
}

.border{
  border-radius: 20px;
}
.text-center{
  color: #002358;
}
td{
  color: #002358;
}
