
<div class="navcontent">

  <nav class="navbar navbar-expand-lg navbar-light navcontent" widht="100%">
    <div class="container">

        <img src="https://cdn.coinranking.com/assets/64374966bb4cd0691a9429341ae9b413.svg"
        width="28" height="28" alt="Coinranking cryptocurrency prices" class="logo__img">
        <span class="navbar-brand"> Crypto Market</span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-30">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="body" routerLinkActive="active-link"[routerLinkActiveOptions]="{exact:true}">Cryptocurrencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="datafetch" routerLinkActive="active-link">Exchange</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="watchlist" routerLinkActive="active-link">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact" tabindex="-1"  routerLinkActive="active-link">Calendars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact" tabindex="-1"  routerLinkActive="active-link">Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  </div>
