<!-- <p>content works!</p> -->

<div class="container">
  <img
  src="https://cdn.coinranking.com/assets/64374966bb4cd0691a9429341ae9b413.svg"
  width="28"
  height="28"
  alt="Coinranking cryptocurrency prices"
  class="logo__img"/>
  <span>Ethereum</span>
  <h1>$2,400.80</h1>
  <p>Tages</p>


  <nb-card>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
  </nb-card>

  <!-- <nb-card>
    <nb-menu [items]="items">
    </nb-menu>
  </nb-card> -->
</div>
