.table-header{
  font-size: small;
  color: gray;
  // font-weight: lighter;
  text-transform: uppercase;
}

.border{
  border-radius: 20px;
}
.text-center{
  color: #002358;
}
td{
  color: #002358;
}
apx-chart{
  height: 20%;
  width: 10px;
}
.chartControl{
  height: 10px;
}
.apexcharts-menu-icon{
  display: none;
}
