<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="table-header">
        <th scope="col"></th>
        <th scope="col">All Coin</th>
        <th scope="col">Price</th>
        <th scope="col">Change %</th>
        <th scope="col">24Vol</th>
        <th scope="col">24H</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of coinData.data.coins;index as i">
        <td>{{i+1}}</td>
        <td [routerLink]="['/body',user.uuid]">
          <img
            src={{user.iconUrl}}
            width="28"
            height="28"
            alt="Coinranking cryptocurrency prices"
            class="logo__img"
          />
          <!-- <nb-icon icon="star"></nb-icon> -->
          {{user.name}}
        </td>
        <td>{{user.price}}</td>
        <td>
          <button nbButton outline  status="{{user.change>0 ? 'primary': 'danger'}}" class="border">{{user.change}}</button>
        </td>
        <td>34556</td>
        <td>$54209.974</td>

      </tr>
    </tbody>
  </table>
</div>

